


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0%;
    padding: 0%;
}
h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.container {
    max-width: 80%;
    margin: 5% auto;
    background-color: #fff;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2%;
}

h2, h3 {
    color: #333;
}

.info {
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1%;
    overflow-x: auto;
}



th, td {
    border: 1px solid #bfbfbf;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.filter-bar {
    margin-bottom: 10px;
}

button {
    padding: 8px;
    background-color:#a32d58;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px#ddd;
}

button:hover {
    background-color: #a32d58;
}

#filter { padding: 8px;}


a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #a32d58;
}

.container #log  a { margin-top: -40%;
         margin-right: 0%;
        margin-left: 85%;}

.designers-section .filter-bar 
   { margin-right: 0%;
     margin-left: 60%; }

   
   
//header
header {
    background-color: rgb(248, 246, 234); 
   margin-bottom: 2vw;
    text-align: center;
}
    h1.header {
    margin-top: 0.5vw;
    color: #0a0863;
    text-align: left;
    text-shadow: 2px 2px 5px #34495e; 
    margin-left: 10px;
}  

//footer
 footer { 
    float: left;
    font-family: Arial;
    width: 100%; 
    background-color: rgb(248, 246, 234); 
    font-size: small;
    line-height: 1.5;}


.footer-sections {
    padding-left: 40px;
     }

#fot1, #fot2 {
    width: 174px;
    float: left;
}

#fot3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    float: right;
    text-align: center;
}

#fot3 img {
    width: 3vw;
    height: 3vw;
}

#fot1 a, #fot2 a {
    text-decoration: none;
}

#fot1 a:hover, #fot2 a:hover {
    text-decoration: underline; 
    color:#e67e22;
}
a.footer{
    color: #0a0863;
}/* end footer css*/


