body {
  font-family: Arial, sans-serif;
  background-image: url("image/b.jpg");
background-size:auto;
  background-color:  white;
  height: 100%;

}

.cont{ 
    border: 4px solid  rgb(128, 43, 128) ;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 10%;
}

header {
background-color: rgb(248, 246, 234); 
margin-bottom: 2vw;
text-align: center;
}

h2{color: rgb(128, 43, 128);}


form {
  display: none;
}

#designer-form, #client-form {
  display: none;
}

/*label {
  display: block;
  margin-bottom: 8px;
}*/

input, select {
  margin-bottom: 12px;
  width: 100%;
  padding: 8px;
  /*box-sizing: border-box;*/
}

button {
  padding: 10px 20px;
  background-color:  rgb(128, 43, 128);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


footer { 
float: left;
left: 0;
bottom: 0;
font-family: Arial;
width: 100%; 
background-color: rgb(248, 246, 234); 
font-size: small;
line-height: 1.5;
Height: auto;
border-style: outset;
border: 1%;
padding: 0%;


}

.footer-sections {
padding-left: 40px;
 }

#fot1, #fot2 {
width: 174px;
float: left;
}

#fot3 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 80px;
float: right;
text-align: center;
}

#fot3 img {
width: 3vw;
height: 3vw;
}

#fot1 a, #fot2 a {
text-decoration: none;
}

#fot1 a:hover, #fot2 a:hover {
text-decoration: underline; 
color:#e67e22;
}
a.footer{
color: #0a0863;
}
